# Ignore node_modules since we will install dependencies inside the container
node_modules

# Ignore local environment files
.env

# Ignore TypeScript build output if you generate it locally
dist

# Ignore npm debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Dockerfile and Docker Compose files (you don't need them inside the container)
Dockerfile
docker-compose.yml

# Ignore other local dev files like Git, IDE settings, etc.
.git
.idea
.vscode
